; Add secrets token/logins/etc `secrets.ini`
; Add the sames values as blank in `secrets.ini.example
; To be able to reproduce it

[secrets]
build_flags =

    ; ssid du reseau wifi
    -D WIFI_SSID=\"WIFI_SSID\"
    ; mot de passe du reseau wifi
    -D WIFI_PASSWORD=\"WIFI_PASSWORD\"
    ; adresse ip du serveur de banque
    -D IP_SERVER=\"192.168.0.0\"
    ; port du serveur de banque
    -D PORT_SERVER=3000
    ; username du propietaire du TPE (a crée manuellement)
    -D CLIENT_USER=\"username\"
    ; password du propietaire du TPE (a crée manuellement)
    -D CLIENT_PASSWORD=\"password\"

    ;-D EXAMPLE_NUMBER=69

    ;-D EXAMPLE_STRING=\"Pouet\"

;TODO: faire un readme pour la config de pio
;TODO: faire un readme pour la config des secrets
